@import url('fonts.css');


/* ---- CSS RESET/MY DEFAULTS ---- */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
    font-size: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}


/* ---- COLOR VARIABLES ---- */
:root {
    --primary-dark: #000000;
    --primary-light: #e0e0e0;
    --bg-grey: #8d8d8d;
    --primary-blue: #031341;
    --primary-light-opc: #e0e0e03b;
    --primary-blue-opc: #0312413b;
}


/* ---- GENERAL/TOP LEVEL ---- */
body {
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'gaegu', sans-serif;
    font-size: 16px;
    background-color: var(--bg-grey);
    overflow: hidden;
}

button {
    font-family: 'gaegu', sans-serif;
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-light);
    cursor: pointer;
}
.page-content {
    height: 95vh;
    width: 100%;
    padding: 0 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
    background-color: var(--bg-grey);
}
h1 {
    font-family: '3Dumb', sans-serif;
    font-size: 3em;
}
h2 {
    font-size: 2em;
}


/* ---- BUTTONS ---- */
button {
    padding: 0.2em 1.5em;
    border: 1px solid var(--primary-dark);
    border-radius: 16px;
    color: var(--primary-dark);
    background-color: transparent;
    font-size: 1em;
    transition: 250ms;
    cursor: pointer;
}
button:hover {
    color: var(--primary-light);
    background-color: var(--primary-dark);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.196);
    transform: scale(1.05);
}
button:active {
    color: var(--primary-light);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.444);
    transform: scale(0.95);
}


/* ---- NAVIGATION ---- */
nav {
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0.5em 1em;
    z-index: 100;
}
nav > ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}
li {
    transition: 250ms;
    color: var(--primary-light);
}
li:hover {
    color: var(--primary-blue);
    transform: scale(1.1);
}
.active-nav {
    color: var(--primary-blue) !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}
.svg-container > svg {
    border-radius: 50%;
    transition: 250ms;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.196);
    fill: var(--primary-light);
}
.svg-container > svg:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.196);
    fill: var(--primary-blue);
}

/* ---- GAME BOARD ---- */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30vw;
    height: 30vw;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: 300ms;
    opacity: 1;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
}
.cell>img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.cell[data-cell="1"],
.cell[data-cell="4"],
.cell[data-cell="7"] {
    border-left: 3px solid black;
    border-right: 3px solid black;
} 
.cell[data-cell="3"],
.cell[data-cell="4"],
.cell[data-cell="5"] {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}


/* ---- STATUS and CONTROLS ---- */
.status-controls-div {
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-board-container {
    position: relative;
    overflow: hidden;
}
.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    font-size: 24px;
    backdrop-filter: blur(5px);
}
.show {
    transform: translateY(0);
}

.btn-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.restart-button {
    transition: 500ms;
}
.winner-btn-tie,
.winner-btn-blue,
.winner-btn-light {
    font-weight: bold;
    position: absolute !important;
    transform: translateY(-150px);
}
.winner-btn-tie:hover,
.winner-btn-blue:hover,
.winner-btn-light:hover {
    position: absolute !important;
    transform: translateY(-150px);
}
.winner-btn-blue {
    color: var(--primary-blue) !important;
    border: 2px solid var(--primary-blue) !important;
}
.winner-btn-blue:hover {
    color: var(--primary-light) !important;
    background-color: var(--primary-blue) !important;
}
.winner-btn-light {
    color: var(--primary-light) !important;
    border: 2px solid var(--primary-light) !important;
}
.winner-btn-light:hover {
    color: var(--primary-dark) !important;
    background-color: var(--primary-light) !important;
}


.page-identifier {
    opacity: 0;
    position: absolute;
}



/* ABOUT PAGE */
.about-page-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    text-align: center;
}
.about-content {
    width: 80%;
    font-size: 1.1em;
}
.breakmen-div {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.breakmen-div > img {
    width: 30%;
}




/* ---- MEDIA QUERIES ---- */
@media screen and (max-width: 1000px) {
    .game-board {
        width: 40vw;
        height: 40vw;
    }
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .game-board {
        width: 50vw;
        height: 50vw;
    }
    body {
        font-size: 12px;
    }
    nav > ul {
        gap: 2rem;
    }
    .end-screen {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .game-board {
        width: 60vw;
        height: 60vw;
    }
    .page-content {
        justify-content: center;
    }
    .end-screen {
        font-size: 16px;
    }
    .winner-btn-tie,
    .winner-btn-blue,
    .winner-btn-light {
        transform: translateY(-100px);
    }
    .winner-btn-tie:hover,
    .winner-btn-blue:hover,
    .winner-btn-light:hover {
        transform: translateY(-100px);
    }
}

@media screen and (max-width: 400px) {
    .game-board {
        width: 70vw;
        height: 70vw;
    }
    .page-content {
        margin-top: 10vh;
        justify-content: flex-start;
        gap: 3em;
    }
    body {
        font-size: 10px;
    }
    nav > ul {
        gap: 1rem;
    }
    .end-screen {
        font-size: 14px;
    }
    .winner-btn-tie,
    .winner-btn-blue,
    .winner-btn-light {
        font-weight: bold;
        position: absolute !important;
        transform: translateY(-75px);
    }
    .winner-btn-tie:hover,
    .winner-btn-blue:hover,
    .winner-btn-light:hover {
        position: absolute !important;
        transform: translateY(-75px);
    }
}

@media screen and (max-width: 360px) {
    .game-board {
        width: 80vw;
        height: 80vw;
    }
    body {
        font-size: 8px;
    }
    nav > ul {
        gap: 0.5rem;
    }
    .end-screen {
        font-size: 12px;
    }
}